.wbb_main_content {
    padding: 10px;
}

    .wbb_main_content ul {
        -webkit-padding-start: 0px;
        -moz-padding-start: 0px;
        padding: 0px;
        list-style-type: none;
    }

    .wbb_main_content p, li, h2, h3 {
        font-family: Verdana, Helvetica, Arial;
        text-align: left;
    }

button {
    border: none;
    padding: 0px;
}

    button:hover {
        cursor: pointer;
    }

#promocontents p {
    padding: 0px;
}

.wbb_menu_tabs {
    float: left;
    width: 100%;
}

    .wbb_menu_tabs ul {
        float: left;
    }

    .wbb_menu_tabs li {
        display: inline;
        float: left;
        padding-left: 10px;
    }

.wbb_menu {
    font-size: 1.2em;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 15px;
}

.wbb_main_content .active a {
    font-weight: bold;
    text-decoration: none;
}

.wbb_main_content .inactive a {
    font-weight: bold;
    text-decoration: none;
}

.wbb_colour_button {
    display: inline;
}

.wbb_accessibility_options {
    width: 50px;
    padding-left: 25px;
}

.highlight_message {
    width: 90%;
    padding: 15px;
    font-weight: bold;
    float: left;
}

.wbb_blue_button {
    border-radius: 10px;
    padding-left: 55px;
    padding-right: 55px;
}

.wbb_download_all_votes_button {
    width: 500px;
    text-align: center;
    padding: 10px;
}

    .wbb_download_all_votes_button p {
        text-align: center !important;
        width: 95% !important;
        margin: 0px;
        padding: 0px;
    }

.zip_item {
    list-style-type: none;
}

.district_zip_files {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    width: 95%;
}

.wbb_content {
    float: left;
}

    .wbb_content p {
        margin: 5px;
        width: 95%;
        float: left;
    }

.accessibility_options {
    float: right;
    padding: 15px;
}

#receipt_number {
    font-size: 1.2em;
    font-weight: bold;
    padding: 2px;
}

#find_again {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

#find_my_receipt {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

.ballot_row {
    font-size: 1.2em;
    display: block;
}

.preference_row {
    height: 30px;
    width: 32px;
    display: block;
}

.preference {
    font-size: 1.4em;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.candidate_row {
}

.candidate {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    font-weight: bold;
    width: 276px;
    font-size: 0.8em;
    padding: 2px;
    overflow: hidden;
}

.ballot .ballot_row {
    font-weight: bold;
}

.ballot .header1 {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.ballot .header2 {
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.ballot .header3 {
    text-align: center;
    font-weight: normal;
    margin: 2px;
}

.ballot {
    width: 300px;
    border: 2px solid #000;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

#promolanding {
    height: auto !important;
}

.promowrapper {
    width: 801px !important;
}

.receipt_heading {
    font-weight: bold;
    text-align: center;
}

.qrcode {
    margin-left: auto;
    margin-right: auto;
    width: 195px;
}

.audio_trigger {
    background: transparent url(http://www.vec.vic.gov.au/js/readspeaker/img/icon_16px.gif) no-repeat scroll 0 0;
    float: left;
    width: 4%;
    height: 25px;
    margin-left: 20px;
}

.audio_item {
    float: left;
    width: 87%;
    margin-top: 0px;
}

#readspeaker_button1 {
    visibility: hidden;
}

#warning_div {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#overlay {
    background-color: #333333;
    opacity: 0.4;
    filter: alpha(opacity=40);
    height: 100%;
    width: 100%;
    z-index: 100;
}
